<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Spring Boot</title>

    <!-- CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet"
    th:href="@{/css/bootstrap.css}">
    <link href="../static/css/style.css" rel="stylesheet"
    th:href="@{/css/style.css}">
    <link href="../static/css/fontawesome-free-6.2.0-web/css/all.css" rel="stylesheet"
    th:href="@{/css/fontawesome-free-6.2.0-web/css/all.css}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a  href="/" class="navbar-brand ms-5">Administrador de Películas</a>
        <div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/save/0" class="btn btn-primary">Agregar</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <br>
        <div>
            <h2 th:if="${list == null} OR ${list.isEmpty()}">No hay Películas Registradas</h2>
            <div th:if=" ${list != null} AND ${!list.isEmpty()}">
                <h2 class="ms-3">Mis Películas Favoritas de Terror Alejandro Palma</h2>
                <form class="form-inline" th:action="@{/}">
                    <div class="form-group mx-sm-3 mb-2">
                        <input class="form-control" type="text" name="keyword" id="keyword" 
                            th:value="${keyword}" placeholder="Ingresa la Película a Buscar" required>
                    </div>
                    <input type="submit" class="btn btn-info mb-3 ms-3" value="Buscar">
                    &nbsp; &nbsp;
                    <input type="button" class="btn btn-secondary mb-3" value="Limpiar" onclick="limpiarCampos()">
                </form>
                <br>

                <section class="wrapper">
                    <div class="container-fostrap">
                        
                        <div class="content">
                            <div class="container">
                                <div class="row">
            
                                    <div class="col-xs-12 col-sm-3" th:each="movie : ${list}">
                                        <div class="card">
                                            <img class="img-card" th:src="@{'/covers/'+${movie.cover}}" th:alt="${movie.cover}" />
                                            <div class="card-content text-center">
                                                <h5 class="card-title" th:text="${movie.name}"></h5>
                                                <h5  th:text="'Año: ' + ${movie.premieredate}"></h5>
                                                <h4  th:text="'Director: ' + ${movie.director}"></h4>
                                                <p>Sinopsis:</p>
                                                <p th:text="${movie.synopsis}"></p>
                                                <a class="btn btn-info" th:href="@{/save/{id}(id=${movie.id})}">
                                                    <i class="fa-solid fa-pen-to-square ml-2"></i>
                                                </a>
                                                <a class="btn btn-danger" th:href="@{/delete/{id}(id=${movie.id})}">
                                                    <i class="fa-solid fa-trash" style="color:black"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

        </div>
    </div>

    
    

    <script type="text/javascript">
        function limpiarCampos() {
            window.location = '/';
        }
    </script>
</body>
</html>